<section id="contact">
    <!--Heading-->
    <h2 class="mb-5 text-center font-weight-bold">Contact</h2>
    <div class="row">
        <!--Grid Coluom-->
        <div class="col-lg-5 col-md-12">
            <form class="p-5">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" class="form-control" id="input-1" />
                    <label for="input-1">User Name</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" class="form-control" id="input-2" />
                    <label for="input-2">Email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="email" class="form-control" id="input-3" />
                    <label for="input-3">Subject</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" class="md-textarea" id="input-4" style="height:100px;"></textarea>
                    <label for="input-4">Message</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-blue">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
                </div>
            </form>
        </div>
        <!--Google Map-->
        <div class="col-lg-7 col-md-12">
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <p><i class="fa fa-map mr-2 grey-text"></i>The coffe house</p>
                </div>
                <div class="col-md-4 mb-3">
                    <p><i class="fa fa-building mr-2 grey-text"></i>Mon-Fri, 8:00-22:00</p>
                </div>
                <div class="col-md-4 mb-3">
                    <p><i class="fa fa-phone mr-2 grey-text"></i>0938570330</p>
                </div>
            </div>
            <div id="map-container" class="map-container z-depth-1-half" style="height:400px;"></div>
        </div>
    </div>
</section>
