<section id="exemples" class="text-center">
    <h2 class="mb-4 font-weight-bold">Products</h2>
    <!--Grid-->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="view overlay hm-white-strong z-depth-1-half">
                <img src="~/img/Background/Img1.jpg" class="img-fluid" alt="" />
                <div class="mask"></div>
            </div>
            <h4 class="my-4 font-weight-bold">ASUS</h4>
            <p class="grey-text">Google Tài liệu làm cho tài liệu của bạn trở nên sinh động bằng các công cụ chỉnh sửa và tạo kiểu thông minh nhằm giúp bạn dễ dàng định dạng văn bản và đoạn. Chọn từ hàng trăm phông chữ, thêm liên kết, hình ảnh và bản vẽ. Tất cả đều miễn phí.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay hm-white-strong z-depth-1-half">
                <img src="~/img/Background/img4.jpg" class="img-fluid" alt="" />
                <div class="mask"></div>
            </div>
            <h4 class="my-4 font-weight-bold">ASUS</h4>
            <p class="grey-text">Google Tài liệu làm cho tài liệu của bạn trở nên sinh động bằng các công cụ chỉnh sửa và tạo kiểu thông minh nhằm giúp bạn dễ dàng định dạng văn bản và đoạn. Chọn từ hàng trăm phông chữ, thêm liên kết, hình ảnh và bản vẽ. Tất cả đều miễn phí.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="view overlay hm-white-strong z-depth-1-half">
                <img src="~/img/Background/img6.jpg" class="img-fluid" alt="" />
                <div class="mask"></div>
            </div>
            <h4 class="my-4 font-weight-bold">ASUS</h4>
            <p class="grey-text">Google Tài liệu làm cho tài liệu của bạn trở nên sinh động bằng các công cụ chỉnh sửa và tạo kiểu thông minh nhằm giúp bạn dễ dàng định dạng văn bản và đoạn. Chọn từ hàng trăm phông chữ, thêm liên kết, hình ảnh và bản vẽ. Tất cả đều miễn phí.</p>
        </div>
    </div>
</section>

