<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Web</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <!-- Links -->
            <!-- Search form -->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <!-- Collapsible content -->
    </div>
</nav>
<!--/.Navbar-->
<!-- Hide background -->
<div class="view hm-black-strong" id="intro">
    <!--Canh đều giữa-->
    <div class="container-fluid full-bg-img align-items-center justify-content-center d-flex">
        <div class="row d-flex justify-content-sm-center">
            <div class="col-md-12 text-center">
                <h3 class="display-3 font-bold white-text">Wellcome My Web</h3>
                <hr class="hr-light" />
                <h4 class="white-text my-4">Wellcome to the best my web site.</h4>
                <button class="btn btn-outline-white">Read More...</button>
            </div>
        </div>
    </div>
</div>

<style>
    .navbar .btn-group .dropdown-menu a:hover {
        color: #fff !important;
        background: #0275d8;
    }

    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }
</style>